#about{width:100%; height:auto; }
#about .container table{width:100%; max-width: 1000px; margin:0 auto;}


#service{width:100%; height:auto;}
#service table{font-size:0.7rem!important;}
#service table tr{width}
#service .table-body{position:relative; height:500px;}
#service .table-body table{position:absolute; top:2%;  font-size:0.7rem; /*height:500px*/;}
#service .table th{ padding : none !important;}
#service .table-body table th{width:50px;}
#service .table-bordered td {height:30px !important;}

.logo{color:#1d1d48 !important; }

/* inquiry */

#inquiry{height:1300px;}
#inquiry .askBox {/*display:none;*/ width:100%; height: auto; margin:30px 0px 50px 0px;}
#inquiry .stepBox-left, .stepBox-right {float:left; width:50%; height:200px; text-align: center;}
#inquiry .stepBox{ width:150px; height:50px; border: 1px solid #fff; margin:0 auto; }
#inquiry .stepBox h3{font-size:16px; text-align: left; padding: 5%; }
#inquiry .stepBox-content {margin-top:30px; }
#inquiry .stepBox-content li{ width:200px; text-align: left; margin:0 auto;}
#inquiry .container a.btn-title{margin:20px auto;}
#inquiry .stepBox-info{display:block; width:100%; height:50px; text-align: center;margin-top:-30px}
#basicCondition ol {width:80%; margin:0 auto;}

#basicCondition ol li{float:left; width:40%; margin-left:5%; margin-bottom: 5px;height: 40px; border:1px solid #999; list-style: none; padding:5px;  line-height:30px}

.row-top{margin-top:60px; margin-bottom: 60px;}

/* dowell-health */

#dowell_health .health {float:left; width:30%;  height: 180px;  margin-right:5%;padding:25px; box-sizing: border-box; text-align: center; margin-top: 30px; border:2px solid #666;}
#dowell_health .health:last-child{margin-right:0px;}
#dowell_health .health h4{font-size:24px; font-weight:bold; margin-bottom: 20px;}
#dowell_health .health a{display: block; max-width:180px; width:100%; margin:0 auto;}
#dowell_health .health p{font-size:15px;}
#dowell_health .health img{width: 100%;}

[class*=row0]{margin:30px;}
#dowell_health .card{width:100%; height: auto; padding:20px;  box-sizing: border-box; border:none;}
#dowell_health .card p{ width:100%; }
#dowell_health .title {margin:50px 0;}
#dowell_health .row02 {max-width:900px; width:100%; margin:0 auto;}
#dowell_health .row02 .cardImg{max-width:700px; width:100%; margin:0 auto;}
#dowell_health .row02 .cardImg img{width:100%; margin:20px auto; }
.section-heading{margin-top:60px !important;}


#dowell_health #result{max-width:900px; width:100%; margin:0 auto;}
#dowell_health #result a{ display:block; margin:20px auto; width:290px; }
#dowell_health #result .imgWrap{width:100%;  text-align: center; }
#dowell_health #result .imgWrap img{width:80%; margin:20px;}

.Rtable{max-width:600px; height:300px; margin:0 auto; text-align: center; border:2px solid #898989;}
.Rtable th{font-size: 18px; background:#898989; color:#fff;margin-bottom: 5px; height:30px;}
.Rtable tr td:first-child{width:25%; background:#898989; color:#fff;}
.Rtable input {width:100%; line-height:40px; color:#666; border:none; padding:2px 5px; }




/*#huatai_info {}*/
#huatai_info .huatai_content{ width:100%; text-align: center; }
#huatai_info .huatai_content a{display:block; margin-top:20px; }



#partnerShip .partner_container .partner_subTitle { clear:both; text-align: center; padding:5px; width:120px; height;40px;  margin:30px auto; background: #ffc107; color:#333; }
#partnerShip .partner_container .partner_subTitle h4{ width:100%; height:20px;  font-size: 18px; line-height:30px; }
#partnerShip .partner_content{/*width:100%;*/ height:300px; margin-bottom: 30px;}
#partnerShip .partner_content div{float: left;}
#partnerShip .partner_content a{display:inline-block; float: left; width:31%; height:80px;margin:2% 1%; text-align: center; line-height:40px ;  }
#partnerShip .partner_content .imgBox{clear:both; width:100%; height:60px;}
#partnerShip .partner_content img{width:180px; }


#footer{width:100%; height:300px; overflow:hidden; margin-top:10px; background:#424245;}
#footer .fwarp{max-width:1000px; height:300px; margin:0 auto;}
#footer .fwrap .footer-content{text-align: center;}
#footer .fwrap .footer-content p{ line-height:1.8em; font-size: 14px;padding:20x; -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; color: #898989; font-weight: bold;}
